
$fg-color: #fafafa;
$bg-color: #333;

.page-bottom {

    background: $bg-color;
    color: $fg-color;

    .text {
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}