.floating {
    z-index: 1000;
    background-color: var(--bs-primary);
    border-radius: 50%;    
    
    position: fixed;
    margin: 15px 20px;
    margin-left: auto;
    
    right: 0;
    bottom: 0;

    padding: 15px;

    box-sizing: border-box;
    border-radius: 50%;
    border: solid 1px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

    a {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}