$homepage-header-bg: #000000d9;
$header-bg: #000;
$header-bg-hover: unset;
$header-fg: #ddd;
$header-fg-hover: #fff;
$header-fsize: 17px;

$dropdown-fg: #000;
$dropdown-fg-hover: #000;
$nav-fw: 300;


body.homepage header {
    background-color: $header-bg;

    // background-color: $homepage-header-bg;
    // position: absolute !important;
    // top: 0;
    // z-index: 10;
}

.overlay { 
    position: fixed;
    z-index: 9999;
    top: 0; 
    left: 0; 

    display: none;
    background: #000;

    width: 100%;
    height: 100%; 

    &.show-1 {
        display: flex;
    }

    video {
        margin: auto;
        width: 300px;
        object-fit: cover;
        image-rendering: smooth;
    }
}

header {
    background-color: $header-bg;
    width: 100%;

    .navbar-brand {
        .custom-logo {
            width: 210px;
            height: auto;
            
            path {
                fill: var(--bs-primary);
            }
        }

        video {
            width: 210px;
            height: 120px;
            object-fit: cover;
        }
    }

    .navbar-toggler {
        .icon {
            font-size: 1.8rem;
        }
    }
    
    .menu-item {
        display: flex;
        font-weight: $nav-fw;
        text-transform: uppercase;
        
        .nav-link {
            margin: auto;
            color: $header-fg;
            font-size: $header-fsize;
        
            &:hover, &:active, &:focus {
                color: $header-fg-hover;
            }

            span {
                transition: border-bottom-color 0.2s ease;
                border-bottom: solid 1px transparent;
            }
        }
        
        .dropdown-menu {

            text-align: right;
            color: $dropdown-fg;
            // padding: 0;
            border: none;
            border-radius: 5px;
            background-color: $header-fg;
            
            .dropdown-item {
                color: $dropdown-fg;

                &:hover, &:active, &:focus {
                    background-color: $header-fg-hover;
                    color: $dropdown-fg-hover;
                }   
            }
            
            &[data-bs-popper], &.show {
                top: 90%;
                left: unset;
                right: 0;
                // margin-top: 0.125em;
            }
        }

        // &.active {
        &:hover, &:active, &:focus {
            .nav-link {

                span {
                    border-bottom-color: var(--bs-primary);
                }
            }
        }
    }

    .navbar-toggler {
        border: none;
        color: $header-fg;
    
        .fa-lg {
            line-height: unset;
        }
    }
}
 
@media all and (max-width:768px) {
    
    header {

        .custom-logo {
            width: 180px;
        }
    }
} 