.eb-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;


    &.dark {
        color: #222;

        &:hover, &:active, &:focus {
            color: #000;
        }
    }

    &.light {
        color: #ccc;

        &:hover, &:active, &:focus {
            color: #fff;
        }
    }

    &.primary {
        color: var(--bs-primary);

        &:hover, &:active, &:focus {
            color: #eee;
        }
    }

    &::before, 
    &.right::before {
        text-decoration: none !important;
        font-family: bootstrap-icons;
        color: var(--bs-primary);
        content: "\f138";
        vertical-align: -12.5%;
    }

    &.down::before {
        content: "\f128";
    }

    &.up::before {
        content: "\f148";
    }

    &.left::before {
        content: "\f12f";
    }

    &.ico-lg::before {
        font-size: 1.5rem;
    }

    &.no-ico::before {
        content: '';
    }
}

.h-90 {
    height: 90% !important;
}