.eb-link {
    font-weight: 600;
    font-size: 18px;


    &.dark {
        color: #222 !important;

        &:hover, &:active, &:focus {
            color: #000 !important;
        }
    }

    &.light {
        color: #bbb !important;

        &:hover, &:active, &:focus {
            color: #fff !important;
        }
    }

    &.primary {
        color: var(--bs-primary) !important;

        &:hover, &:active, &:focus {
            color: #eee !important;
        }
    }

    &::before, 
    &.right::before {
        text-decoration: none !important;
        font-family: bootstrap-icons;
        color: var(--bs-primary);
        content: "\f138";
        vertical-align: -12.5%;
    }
    
    &.left::before {
        content: "\f12f";
    }
    
    &.up::before {
        content: "\f148";
    }
    
    &.down::before {
        content: "\f128";
    }


    &.ico-lg::before {
        font-size: 1.5rem;
    }

    &.no-ico::before {
        content: '';
    }
}

.h-90 {
    height: 90% !important;
}