

// Default variable overrides
$primary: #ce1000;
$dark: #111;
$light: #fff;
$secondary: #444;
// $danger: #f11501;
// $info: #0dcaf0;
// $warning: #ffc107;

$headings-font-family: 'Gotham', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;
$font-family-sans-serif: 'Proxima Nova Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;


$body-bg: $dark;
$body-color: $light;

$tooltip-color: white;
$tooltip-bg: var(--bs-primary);
$tooltip-arrow-color: var(--bs-primary);

$font-size-base: 1rem;
$lead-font-size: $font-size-base * 1;

$h1-font-size: $font-size-base * 2.25 !default;
$h2-font-size: $font-size-base * 1.80 !default;
$h3-font-size: $font-size-base * 1.60 !default;
$h4-font-size: $font-size-base * 1.40 !default;
$h5-font-size: $font-size-base * 1.20 !default;
$h6-font-size: $font-size-base !default;

// Required
@import "../../node_modules/bootstrap/scss/bootstrap"; 

.accordion-button {
    $icon-width: 1.5rem;

    &::after {
        transition: transform .2s ease-in-out;
    
        content: "\f282" !important;
        font-family: bootstrap-icons !important;
        font-size: $icon-width !important;
        background-image: unset !important;
    
        flex-shrink: 0;
        margin-left: auto;
        margin-right: 10px;
    
        transition: transform .2s ease-in-out;
    }
}

.form-control {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
}