$primary: var(--bs-primary);

@import "partials.scss";
@import "components.scss";
@import "third.scss";
@import "form.scss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-y: visible;
    overflow-x: hidden;
    max-width: 100vw;
}

::-moz-selection {
    background: $primary !important;
    color: white;
}

::selection {
    background: $primary !important;
    color: white;
}

a {
    transition: color ease-in-out 0.1s;
    text-decoration: none;

    &:not([class *= "btn"]) {    
        color: inherit !important;
    }

    &.onhover {
        &:hover, &:active, &:focus {
            text-decoration: underline;
        }
    }
}

p {
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.page-title h1 {
    color: $primary;
    // letter-spacing: 0.25rem;
}

.content-max-width {
    margin: auto;
    max-width: 900px;
}

.wp-has-aspect-ratio {
    > div {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

iframe {
    border-radius: 0.25rem;
    width: 100%;
}

.form-check, .form-check-label {
    cursor: pointer;
}

@media all and (max-width: 1024px) {
    .content-max-width {
        max-width: 80%; 
    }       
}

@media all and (max-width: 480px) {
    .content-max-width {
        max-width: 100%;
        margin: 0 1.5rem;     
    }   
}