$primary: var(--bs-primary);

@import "partials.scss";
@import "components.scss";
@import "third.scss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100vw;
}

::-moz-selection {
    background: $primary !important;
    color: white;
}

::selection {
    background: $primary !important;
    color: white;
}

a {
    color: inherit !important;
    transition: color ease-in-out 0.1s;
}

p {
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.page-title h1 {
    color: $primary;
    // letter-spacing: 0.25rem;
}

.content-max-width {
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        // color: $primary;
    } 

    p {
        line-height: 1.5rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
}

.content-max-width {
    margin: auto;
    max-width: 900px;
}

.wp-has-aspect-ratio {
    > div {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

iframe {
    max-width: 100%;
}

@media all and (max-width: 1024px) {
    .content-max-width {
        max-width: 80%; 
    }       
}

@media all and (max-width: 480px) {
    .content-max-width {
        max-width: 100%;
        margin: 0 1.5rem;     
    }   
}