$primary: var(--bs-primary);

@import "partials.scss";
@import "components.scss";
@import "third.scss";
@import "form.scss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-y: visible;
    overflow-x: hidden;
    max-width: 100vw;
}

::-moz-selection {
    background: $primary !important;
    color: white;
}

::selection {
    background: $primary !important;
    color: white;
}

a {
    transition: color ease-in-out 0.1s;
    text-decoration: none;

    &:not([class *= "btn"]) {    
        color: inherit;
    }

    &.onhover {
        &:hover, &:active, &:focus {
            text-decoration: underline;
        }
    }
}

p {
    margin-bottom: 0.5rem;
    font-weight: 300;

    
}

h1, h2, h3, h4, h5, h6, p {
    a {
        
        &:hover, &:active, &:focus {
            color: var(--bs-primary) !important;
        }

        &[href^="http://"],
        &[href^="https://"] {
            text-decoration: none !important;

            &::after {

                content: '\f1c5';
                color: var(--bs-primary);
                font-family: bootstrap-icons;
                font-size: .75rem;
                margin-left: .4rem;
            }
        }

        &:not([href^="https://www.emertech"]),
        :not([href^="http://www.emertech"]),
        :not([href^="https://emertech"]),
        :not([href^="http://emertech"]) {
            background: none;
            padding-right: 0;
            text-decoration: underline !important;

            &::after {
                content: none;
            }
        }
    }
}

.page-title h1 {
    color: $primary;
    // letter-spacing: 0.25rem;
}

.content-max-width {
    margin: auto;
    max-width: 900px;
}

.wp-has-aspect-ratio {
    > div {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

iframe {
    border-radius: 0.25rem;
    width: 100%;
}

.form-check, .form-check-label {
    cursor: pointer;
}

@media all and (max-width: 1024px) {
    .content-max-width {
        max-width: 80%; 
    }       
}

@media all and (max-width: 480px) {
    .content-max-width {
        max-width: 100%;
        margin: 0 1.5rem;     
    }   
}